[user]
	email = {{ .gitemail }}
	name = Isaac Grannis
	signingkey = 9827C3A7F8C560A5
[commit]
	gpgsign = {{ .signing }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input

