{{- if eq .chezmoi.os "darwin" }}

# Setup fzf
# ---------
if [[ ! "$PATH" == */opt/homebrew/opt/fzf/bin* ]]; then
  PATH="${PATH:+${PATH}:}/opt/homebrew/opt/fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "$HOME/.nix-hm-profile/home-path/share/fzf/completion.zsh" 2> /dev/null


# Key bindings
# ------------
source "$HOME/.nix-hm-profile/home-path/share/fzf/key-bindings.zsh"
{{- end }}
